.button {
  min-width: 260px;
  padding: 12px 32px;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;

  &.primary {
    color: $white;
    background-color: $cod-gray;
    border: none;

    &:hover {
      background-color: $dark-gray;
    }
  }

  &.secondary {
    color: $black;
    background-color: $white;
    border: 0.5px solid $cod-gray;

    &:hover {
      color: $fuscous-gray;
      background-color: $white;
      border: 0.5px solid $fuscous-gray;
    }
  }

  &.disabled {
    border: 0.5px solid $timberwolf;
    color: $cloud;
    background-color: $concrete;
    cursor: default;

    &:hover {
      background-color: $concrete;
    }
  }
}