.header {
  width: 90%; //TODO:
  max-width: 1920px; //TODO: cambiar en otros dispositivos
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px; 
}

a > .logo{
  height: 30px;
}