.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px; 

  & > p {
    font-size: 16px;
  }

  @media (min-width: $breakpoint-lg) {
  max-width: 1920px;
  }
}

a > .logo{
  height: 30px;
}