.searchBar {
  padding: 12px 100px;
  gap: 12px;
  
  & > p {
    font-size: 12px;
    font-weight: 300;
  }
}

input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 0.5px solid $black;
  padding-bottom: 8px;
  gap: 12px;

  &:focus {
    border: none;
    outline: none;
    border-bottom: 0.5px solid $black;
  }

  &::placeholder {
    color: $gray;
    font-size: 16px;
    font-weight: 300;
    font-family: "Helvetica Neue";
  }
}