//FONTS:
$font-primary: "Helvetica Neue", Arial, sans-serif;
$font-title: 20px;

//COLORS:
$black: #000000;
$white: #FFFFFF;
$concrete: #F3F2F2;
$cloud: #C2BFBC;
$timberwolf: #DBD9D7;
$gray: #AAAAAA;
$light-gray: #CCCCCC;
$cod-gray: #1B1A18;
$dark-gray: #282624;
$fuscous-gray: #504D49;
$tapa: #79736D;
$red: #DF0000;

//BREAKPOINTS
$breakpoint-sm: 768px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1440px;
