//FONTS:
$font-primary: "Helvetica Neue", Arial, sans-serif;

//COLORS:
$black: #000000;
$white: #FFFFFF;
$gray: #AAAAAA;
$light-gray: #CCCCCC;
$red: #DF0000;

//BREAKPOINTS
$breakpoint-sm: 768px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1440px;
