.cartView {
  &-container {
    flex-grow: 1;
  }

  &-title {
    &_container {
      position: relative; 
      top: 40px; 
      padding: 12px 100px;
    }
    
    &_text {
      margin: 0;
      font-size: $font-title;
    }

  }

  &-items_container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 60px;
    margin: 0;
    gap: 40px;
  }

  &-footer {
    width: 90%;
    padding: 24px 100px 56px 100px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    @media (max-width: $breakpoint-md) {
      padding: 16px 24px;
    }
  }
}
