.backButton {
  width: fit-content;
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.storage-box {
  padding-left: 0;
  display: flex;
  cursor: pointer;
}

.color-box {
  display: flex;
  gap: 16px;
  padding-left: 0;
}

.phoneDetail {
  &-container {
    width: 1200px; 
    margin: 0 auto;

    @media (max-width: $breakpoint-lg) {
      width: 90%;
    }
  }

  &-details {
    @media (min-width: $breakpoint-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 234px;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    max-width: 510px;
    max-height: 630px;
  }

  &-name_text {
    font-size: $font-title;
  }

  &-right_container {
    display: flex;
    gap: 64px;
    flex-direction: column;
    width: 380px;
  }

  &-price {
    &_container {
      display: flex;
      gap: 11px;
      flex-direction: column;
    }

    &_text {
      font-size: 14px;
    }
  }

  &-choose_container {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }

  &-similarItems_text {
    margin: 0;
    font-size: $font-title;
  }
}

.carousel {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overFlow-x: auto;

  &-list{
    padding: 0;
    margin-top: 0;
    display: flex;
  }

  &::-webkit-scrollbar {
    height: 1px;
    width: 150px;

    &-thumb {
      background-color: $black;
    }

    &-track {
    background-color: $light-gray;
    }
  }
}